#contenedor{
    width: 900px;
    height: 926px;
    margin: auto;
}
body{
    background: linear-gradient(#C8A2C8,#FFC0CB) no-repeat;
}
header{
    width: 900px;
    height: 200px;
    background: url("../imagenes/Byes.png") center;
    border: 1px solid black;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.ico{
    width: 35px;
    height: 35px;
    margin-top: 160px;
    margin-left: 5px;
}
.ico:hover{
    box-shadow: 1px 1px 50px #C8A2C8,1px 1px 20px #FFC0CB;
}
nav{
    width: 100%;
    height: 50px;
    background: #fe62b1;
    float: left;
    border: 1px solid black;
}
#menu{
    list-style-type: none;
    font-family: courier;
    font-size: 28px;
    display: flex;
    margin-top: 10px;
}
#menu li a{
    text-decoration: none;
    color: #56316b;
    margin: 40px;
    font-weight: bold;
}
#menu li a:hover{
    text-shadow: 0 0 5px #FFC0CB;
}
main{
    width: 100%;
    height: 600px;
    background: #fe62b1;
    border: 1px solid black;
    float: left;
}
article{
    width: 100%;
    height: 600px;
    background: #fe62b1;
    float: left;
}
#titulo_form{
    color: #56316b;
    font-weight: bold;
    font-size: 26px;
    font-family: courier;
    text-shadow: 3px 3px 9px deeppink;
    text-align: center;
}
#miformulario{
    background: deeppink;
    margin: 25px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    border: 4px double #C8A2C8;
    border-radius: 8px;
}
label{
    font-family: courier;
    font-size: 18px;
    color: #56316b;
    margin: auto;
    margin-top: 15px;
    font-weight: bold;
}
input{
    width: 300px;
    height: 30px;
}
textarea{
    width: 300px;
    height: 150px;
}
.escribo:focus{
    background-color: hotpink;
}
.boton{
    width: 150px;
    margin-top: 25px;
    margin-bottom: 25px;
    background: hotpink;
    color: #56316b;
    font-family: courier;
    font-weight: bold;
    font-size: 18px;
}













footer{
    width: 100%;
    height: 54px;
    background: #fe62b1;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    float: left;
    border: 1px solid black;
} 
p{
    font-size: 10px;
    padding: 0;
    margin: 0;
    margin-left: 270px;
    font-weight: bold;
}